@use "variables";
@use "animations";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:variables.$font-primary;
    color:variables.$font-clr;
    font-size:16px;
    background-color: variables.$bg-color-primary;
    display:flex;
    align-items:center;
    justify-content:center;
}