@use "variables";
@use "animations";
@use "components/header";
@use "components/footer";
@use "components/heart";
@use "components/homeCard";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:variables.$font-primary;
    color:variables.$font-clr;
}