@use "variables";
@use "animations";

@mixin box-shadow{
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:variables.$font-primary;
    color:variables.$font-clr;
    font-size:16px;
    background-color: variables.$bg-color-primary;
}
main{
    @media(min-width:992px){
        max-width: 1100px;
        margin:0 auto;
        box-shadow: 0px 0px 15px 10px lightslategrey;
    }
}
h1{
    padding:0;
    margin:0;
    font-size:1.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 1px;
    @media(min-width:992px){
        display:flex;
        justify-content: center;
    }
}
h2{
    padding:0;
    margin:0;
    font-size:1.1rem;
    font-weight: 700;
}
.header{
    height: 70px;
    position:fixed;
    width: 100%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
    background-color:variables.$bg-color-primary;
    z-index: 100;
    display:flex;
    align-items: center;
    &__icon{
        color:black;
    }
    &__arrow{
        width:10%;
        padding:1rem;

    }
    &__logo{
        width: 80%;
        text-align: center;
        font-family: variables.$font-secondary;
        font-size:2rem;
    }
}

.location{
    background-color:darken(variables.$bg-color-primary, 10%);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    color:lighten(variables.$font-clr,10%);
    font-weight: 900;
    padding-top:85px;
    &__icon{
        margin-right: 1rem;
    }
}
.cta{
    text-align:center;
    background-color:darken(variables.$bg-color-primary, 2%);
    padding:2rem;
    margin-bottom:2rem;
    h1{
        margin:1rem 0;
    }
    &__content{
        font-weight: 300;
        color:lighten(variables.$font-clr,10%);
        font-size:1.2rem;
    }
}

.container{
    display:flex;
    padding:2rem 0;
    flex-direction:column;
    @media(min-width:768px){
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
    }
}

.how-to{
    background-color: variables.$bg-color-primary;
    padding:1rem;
}

.restaurant{
    background-color:darken(variables.$bg-color-primary, 2%);
    padding:2rem 1rem;
}

.footer{
    padding:1rem;
    background-color:darken(variables.$bg-color-primary, 80%);
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    @media(min-width:992px){
        align-items: center;
    }
    &__title{
        font-family:variables.$font-secondary;
        font-size:1rem;
        margin:1.3rem 0;
        font-weight: 100;
    }
    &__link{
        text-decoration: none;
        color:white;
        font-size:.8rem;
        margin-bottom:.7rem;
        &--icon{
            margin-right:.5rem;
        }
    }
}
.menu{
    display:flex;
    width: 100%;
    flex-direction: column;
    background-color:darken(variables.$bg-color-primary, 2%);
    &__img{
        object-fit: cover;
        max-height: 400px;
        width:100%;
    }
    &__restaurant{
        background-color:darken(variables.$bg-color-primary, 2%);
        padding:3rem 1rem 1rem 1rem;
        margin-top:-40px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        &--name{
            font-family: variables.$font-secondary;
            font-size:2rem;
        }
    }
}