@use "variables";
@use "sass:color";

@mixin bg-loading{
    background-color:lighten(variables.$clr-primary, 30%);
}
@mixin box-shadow{
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  }

.loading{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    @include bg-loading;
    animation: loading 4s;
    animation-delay: 2s;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1000;
    animation-fill-mode: forwards;
    &__dot{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        animation: dot 1s;
        margin:1rem;
        &--1{
            background-color:variables.$clr-primary;
        }
        &--2{
            background-color:variables.$clr-secondary;
            animation-delay: .5s;
        }
        &--3{
            background-color:variables.$clr-tertiary;
            animation-delay: 1s;
        }
    }
}
.btn {
    text-decoration: none;
    color: white;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 30px;
    font-size: 0.9rem;
    transition-duration: 0.5s;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      0deg,
      color.scale(variables.$clr-primary, $alpha: -10%) 0%,
      color.scale(variables.$clr-secondary, $alpha: -10%) 100%
    );
    &:hover {
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(
        0deg,
        color.scale(variables.$clr-primary, $alpha: -15%) 0%,
        color.scale(variables.$clr-secondary, $alpha: -15%) 100%
      );
    }
  }
  .how-to__card{
    display:flex;
    align-items: center;
    width: 100%;
    margin-top:1rem;
    cursor: pointer;
    &--icon{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:.7rem .6rem;
        background-color: variables.$clr-primary;
        border-radius:50%;
        color:white;
        z-index:100;
    }
    &--body{
        background-color:darken(variables.$bg-color-primary, 2%);
        padding:1.5rem;
        width: 100%;
        border-radius:30px;
        margin-left:-.75rem;
        @include box-shadow;
        transition-duration: .75s;
        &__icon{
            margin: 0 1.5rem;
            transition-duration: 1s;
        }
        &__txt{
            font-weight: 100;
        }
        &:hover{
            background-color:lighten(variables.$clr-primary, 30%);
            .how-to__card--body__icon{
                color:variables.$clr-primary;
            }
        }
    }
  }

  .restaurant__card{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color:black;
    width: 100%;
    border-radius:20px;
    @include box-shadow;
    position: relative;
    margin:1rem 0;
    &:hover{
        animation: flashing 1.5s;
    }
    &--img{
        object-fit: cover;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;
        height: 175px;
    }
    &--badge {
      padding: 0.7rem 0.8rem;
      border-radius: 5px;
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: variables.$clr-tertiary;
      color: darken(variables.$clr-tertiary, 50%);
    }
    &--content{
        display:flex;
        justify-content: space-between;
        padding:1rem;
        &__txt{
            &--location{
                font-weight: 300;
                font-size:.9rem;
            }
        }
    }
}

.heart{
    height: 2rem;
    width: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    background-color:transparent;
    &__icon{
        &--filled{
          color:transparent;
          background-image:linear-gradient(0deg, variables.$clr-primary 0%,variables.$clr-secondary 100%);
          background-clip:text;
          -webkit-background-clip: text;
          opacity:0;
          transition:.5s;
          position:absolute;
          top:0;
          left:0;
          &:hover{
              opacity:1;
          }
      }
    }
}
.menu__list{
    padding:1rem;
    width: 100%;
    &--title{
        text-transform: uppercase;
        position:relative;
        margin-bottom: 1rem;
        font-weight: 300;
        &::before{
            content:"";
            position:absolute;
            top:1.3rem;
            width: 3rem;
            height: .3rem;
            background:variables.$clr-tertiary;
        }
    }
    &--item{
        background-color:variables.$bg-color-primary;
        border-radius:1rem;
        cursor: pointer;
        display:flex;
        overflow:hidden;
        @include box-shadow;
        margin:2rem 0;
        animation: popsIn 1s;
        &__content{
            padding:1rem;
            overflow:hidden;
            flex:1;
            &--title{
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &--informations{
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &__pricing{
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            padding:1rem;
        }
        &__check{
            background-color: variables.$clr-tertiary;
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100px;
            margin-right:-100px;
            transition-duration: 1s;
            &--icon{
                background-color:variables.$bg-color-primary;
                border-radius:50%;
                padding:12px 13px;
                transition-duration:1s;
                transition-timing-function:cubic-bezier(0,1.5,1,1.5);
                color: variables.$clr-tertiary;
            }
        }
        &:hover &__check{
            margin-right: 0;
            &--icon{
                transform:rotate(-360deg);
            }
        }
    }
  }

  .buyNow{
      margin:-2rem auto 2rem auto;

  }