@use "variables";
@use "sass:color";

@mixin bg-loading{
    background-color:lighten(variables.$clr-primary, 30%);
}

.loading{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    @include bg-loading;
    animation: loading 4s;
    animation-delay: 2s;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1000;
    animation-fill-mode: forwards;
    &__dot{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        animation: dot 1s;
        margin:1rem;
        &--1{
            background-color:variables.$clr-primary;
        }
        &--2{
            background-color:variables.$clr-secondary;
            animation-delay: .5s;
        }
        &--3{
            background-color:variables.$clr-tertiary;
            animation-delay: 1s;
        }
    }
}
.btn {
    text-decoration: none;
    color: white;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 30px;
    font-size: 0.9rem;
    transition-duration: 0.5s;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
      0deg,
      color.scale(variables.$clr-primary, $alpha: -10%) 0%,
      color.scale(variables.$clr-secondary, $alpha: -10%) 100%
    );
    &:hover {
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(
        0deg,
        color.scale(variables.$clr-primary, $alpha: -15%) 0%,
        color.scale(variables.$clr-secondary, $alpha: -15%) 100%
      );
    }
  }