@use "sass:color";

$font-primary:'Roboto', sans-serif;
$font-secondary: "Shrikhand", cursive;
$font-clr:rgb(24, 24, 24);

$clr-primary:#9356DC;
$clr-secondary:#FF79DA;
$clr-tertiary:#99E2D0;

$bg-color-primary:#FFF;
$bg-color-secondary:#EAEAEA;

  